<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
    <title>My Collection</title>
  </head>  


  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <% wordList.forEach(word => { %>
    <section id="flashCard">

    <h1><%= word.word %></h1>
    <h2> <%= word.pronunciation %></h2>
    <h2> <%= word.prtSpeech %> </h2>

    <audio controls>
      <source src="<%= word.sound %>" type="audio/mpeg">
    </audio>

    <h3>Definitions:</h3>
    <ul>
      <% word.definitions.forEach(innerWord => { %>
        <li><%= innerWord %></li>
        <% }) %>
    </ul>
    <br>
    <br>
    <h3>Synonyms:</h3>
    <ul>
      <% word.synonyms.forEach(innerWord => { %>
        <li id="synonyms"><%= innerWord %></li>
        <% }) %>
    </ul>

    <h3>Example:</h3>
    <ul>
      <li> <%= word.example %> </li>
    </ul>
    <h3>Pic:</h3>
    <ul>
      <li><img src="<%= word.image_url %>"></li>
    </ul>
    <h3>Quotes:</h3>
    <ul>
      <li> <%= word.quote %> </li>
      <li> - <%= word.author %> </li>
    </ul>
    

    <form action="/delete/<%= word.id %>?_method=DELETE" method="POST">
      <fieldset>
        <input type="hidden" name="words" value="<%= wordList %>">
        <input type="hidden" name="id" value="<%= word.id %>">      
        <button type="submit">Delete</button>
      </fieldset>
    </form>
  </section>
  <% }); %>

</body>

</html>