<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Word Collection</title>
</head>
<header>
  <ul>
    <li></li>
  </ul>
</header>
<body>
  <h1>My Word Collection</h1>
  <% wordList.forEach(word => { %>
    <h1><%= word.word %></h1>
    <h3>Definitions:</h3>
    <ul>
      <% word.definitions.forEach(innerWord => { %>
        <li><%= innerWord %></li>
        <% }) %>
    </ul>
    <h3>Synonyms:</h3>
    <ul>
      <% word.synonyms.forEach(innerWord => { %>
        <li><%= innerWord %></li>
        <% }) %>
    </ul>
    <h3>Quotes:</h3>
    <ul>
      <li> <%= word.quote %> </li>
    </ul>
    <h3>Pic:</h3>
    <ul>
      <li><img src="<%= word.image_url %>"></li>
    </ul>

    <form action="/delete/<%= word.id %>?_method=DELETE" method="POST">
      <fieldset>
        <input type="hidden" name="words" value="<%= wordList %>">
        <input type="hidden" name="id" value="<%= word.id %>">      
        <button type="submit">Delete</button>
      </fieldset>
    </form>
  <% }); %>

</body>

</html>