<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Search Results</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <section id="searchResult">
   <% if(word[3].definitions[0].image_url){ %>
      <h3>Pic:</h3>
      <ul>
        <li><img id="pic" src="<%= word[3].definitions[0].image_url %>"></li>
      </ul>
    <% } %>
    <h1><%= searchedWord.toUpperCase() %></h1>
    <h2> <%= word[3].pronunciation %></h2>
    <div><%= word[3].definitions[0].emoji %></div>
    <h2> <%= word[3].definitions[0].type %> </h2>    
    
    <audio controls>
      <% let str = word[0].hwi.prs[0].sound.audio.split(''); %>
      <% let temp = str[0]; %>
      <source src="https://media.merriam-webster.com/audio/prons/en/us/mp3/<%=`${temp}`%>/<%=`${word[0].hwi.prs[0].sound.audio}`%>.mp3" type="audio/mpeg">
    </audio>
    <br>
    <br>
    <h3>Definitions:</h3>
    <br>
    <ol id="orderedDef">
      <% word[0].shortdef.forEach(element => { %>
        <li id="listDef"><%= element %></li>
      <% }) %>
      </ol> 

    <br>
    <% if(word[1]){ %>
      <h3>Synonyms:</h3>
      <ul>
        <% word[1].forEach(element => { %>
        <li id="synonyms"><%= element %>, </li>
        <% }) %>
      </ul>
    <% } %>
    <br>
    <% if(word[3].definitions[0].example){ %>
      <h3>Example:</h3>
      <ul>
        <li> <%= word[3].definitions[0].example %> </li>
      </ul>
    <% } %>
    <br>
   
    <br>
    <% if(word[2].body){ %>
      <h3>Quotes:</h3>
      <ul>
        <li> "<%= word[2].body %>" </li>
        <li> - <%= word[2].author %> </li>
      </ul>
    <% } %>
    <br>
    
    <form action="/add" method="POST">
      <fieldset>
        <input type="hidden" name="word" value="<%= searchedWord %>">

        <input type="hidden" name="pronunciation" value="<%= word[3].pronunciation %>"> 

        <input type="hidden" name="prtspeech" value="<%= word[3].definitions[0].type %>">

        <input type="hidden" name="sound" value="https://media.merriam-webster.com/audio/prons/en/us/mp3/<%=`${temp}`%>/<%=`${word[0].hwi.prs[0].sound.audio}`%>.mp3">
        
        <% word[0].shortdef.forEach((element, indx) => { %>
          <input type="hidden" name="definitions[]" value="<%= element %>">
        <% }) %>

        <% word[1].forEach(element => { %>
          <input type="hidden" name="synonyms[]" value="<%= element %>">
        <% }) %>
        
        <input type="hidden" name="example" value="<%= word[3].definitions[0].example %>">        
        
        <input type="hidden" name="image_url" value="<%= word[3].definitions[0].image_url %>">
        
        <input type="hidden" name="quote" value="<%= word[2].body %>">
        <input type="hidden" name="author" value="<%= word[2].author %>">


        <button type="submit">SAVE</button>
      </fieldset>
    </form>
  </section>
</body>

</html>