<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Search Results</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <section id="searchResult">
    <ul>
      <li><img src="<%= word[3].image_url %>"></li>
    </ul>
    <u><h1 id="wordTitle"><%= searchedWord.toUpperCase() %></h1></u>
    <br>
<br>
    
    <h3>Definitions:</h3>
    <ul>
      <% word[0].forEach(element => { %>
      <li><%= element %></li>
      <% }) %>
    </ul>
<br>
<br>
    <h3>Synonyms:</h3>
    <ul>
      <% word[1].forEach(element => { %>
      <li id="synonyms"><%= element %>, </li>
      <% }) %>
    </ul>

    <br>
    <br>

    <h3>Quote:</h3>
    <ul>
      <li> "<%= word[2] %>"</li>
    </ul>
    <br>
    <br>

    <form action="/add" method="POST">
      <fieldset>
        <input type="hidden" name="word" value="<%= searchedWord %>">
        <% word[0].forEach((element, indx) => { %>
        <input type="hidden" name="definitions[]" value="<%= element %>">
        <% }) %>
        <% word[1].forEach(element => { %>
        <input type="hidden" name="synonyms[]" value="<%= element %>">
        <% }) %>
        <% var pic = word[3].image_url ? word[3].image_url : 'https://upload.wikimedia.org/wikipedia/commons/3/3b/Picture_Not_Yet_Available.png' %>
        <input type="hidden" name="image_url" value="<%= pic %>">
        <input type="hidden" name="quote" value="<%= word[2] %>">
        <button type="submit">SAVE</button>
      </fieldset>
    </form>
  </section>
</body>

</html>